/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/* start editing from here */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
/*-contact start here--*/
body {
   background-size:cover;
   padding:50px 0px 200px 0px;
   font-family: 'Roboto Condensed', sans-serif;
   font-size: 100%;
  background: #b7dbe2; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #b7dbe2 0%, #ffcd93 57%, #b7dbe2 87%, #98d7e4 98%, #b1dae2 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#b7dbe2), color-stop(57%,#ffcd93), color-stop(87%,#b7dbe2), color-stop(98%,#98d7e4), color-stop(98%,#b1dae2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #b7dbe2 0%,#ffcd93 57%,#b7dbe2 87%,#98d7e4 98%,#b1dae2 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #b7dbe2 0%,#ffcd93 57%,#b7dbe2 87%,#98d7e4 98%,#b1dae2 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #b7dbe2 0%,#ffcd93 57%,#b7dbe2 87%,#98d7e4 98%,#b1dae2 98%); /* IE10+ */
background: linear-gradient(135deg,  #b7dbe2 0%,#ffcd93 57%,#b7dbe2 87%,#98d7e4 98%,#b1dae2 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7dbe2', endColorstr='#b1dae2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.contact {
  width: 25%;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px 5px;
  position:relative;
}
.contact-main {
  padding: 30px 25px 10px 25px;
}
h1 {
  font-size: 35px;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin: 0px 0px 40px 0px;
}
.contact h3 {
   font-size: 21px;
  font-weight: 700;
  color: #8A8A8A;
  margin: 0px 0px 5px 0px;
}
.green-button {
  float: left;
  background: #98D7E4;
  margin: 0px 10px 0px 0px;
  padding: 8px 7px;
  border-radius: 5px;
  width: 43.5%;
}
.orange-button {
  float: left;
  background: #FFAD46;
  margin: 0px 3px 0px 0px;
  padding: 8px 7px;
  border-radius: 5px;
  width: 43.5%;
}
.buttons {
  padding: 5px 3px;
  margin: 0px 0px 15px 0px;
  position: absolute;
  top: 14%;
  left: 8%;
  width:82%;
}
.contact-button {
  float: left;
}
.contact-close {
  float: right;
  cursor: pointer;
}
.contact-button a {
  font-size: 13px;
  font-weight: 400;
  color: #fff;
  margin: 0px 13px 0px 0px;
  letter-spacing: 0.5px;
}
input.hola[type="text" ],input.hola[type="email"] {
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #BBBBBB;
  padding: 17px 10px;
  border: 1px solid #ECECEC;
  margin: 0px 0px 15px 0px;
  width: 94%;
  border-radius: 5px;
  -webkit-appearance: none;
  font-family: 'Roboto Condensed', sans-serif;
}
.contact textarea{
  outline: none;
  font-size: 15px;
  font-weight: 600;
  color: #BBBBBB;
  padding: 13px 10px;
  border: 1px solid #ECECEC;
  margin: 0px 0px 15px 0px;
  width: 94%;
  height: 4em;
  border-radius: 5px;
  resize:none;
  -webkit-appearance: none;
  font-family: 'Roboto Condensed', sans-serif;
}
.enviar {
  margin: 0 auto;
  background: #F2F2F2;
  padding: 20px 25px 20px 25px;;
  border-radius: 0px 0px 5px 5px;
}
.contact-check {
  float: left;
  margin: 10px 0px 0px 0px;
}
.contact-enviar {
  float: right;
}
.contact-enviar  input[type="submit"] {
  background: #2ECC71;
  color: #FFF;
  font-size: 17px;
  font-weight: 400;
  padding: 10px 44px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  margin: 0px 0px 0px 0px;
  border: none;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  display: inline-block;
  cursor: pointer;
  outline:none;
  font-family: 'Roboto Condensed', sans-serif;
  background: #64bc48; /* Old browsers */
background: -moz-linear-gradient(top,  #64bc48 0%, #46b71d 27%, #42b21c 51%, #42b21c 51%, #3fb717 81%, #51ba2e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64bc48), color-stop(27%,#46b71d), color-stop(51%,#42b21c), color-stop(51%,#42b21c), color-stop(81%,#3fb717), color-stop(100%,#51ba2e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #64bc48 0%,#46b71d 27%,#42b21c 51%,#42b21c 51%,#3fb717 81%,#51ba2e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #64bc48 0%,#46b71d 27%,#42b21c 51%,#42b21c 51%,#3fb717 81%,#51ba2e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #64bc48 0%,#46b71d 27%,#42b21c 51%,#42b21c 51%,#3fb717 81%,#51ba2e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #64bc48 0%,#46b71d 27%,#42b21c 51%,#42b21c 51%,#3fb717 81%,#51ba2e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64bc48', endColorstr='#51ba2e',GradientType=0 ); /* IE6-9 */

}
.contact-enviar  input[type="submit"]:hover{
background: #ff9c23; /* Old browsers */
background: -moz-linear-gradient(top,  #ff9c23 0%, #ff9019 0%, #ff8914 21%, #ff921e 44%, #ff8d14 62%, #ff8b0f 79%, #ff8d14 92%, #ff911c 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff9c23), color-stop(0%,#ff9019), color-stop(21%,#ff8914), color-stop(44%,#ff921e), color-stop(62%,#ff8d14), color-stop(79%,#ff8b0f), color-stop(92%,#ff8d14), color-stop(100%,#ff911c)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ff9c23 0%,#ff9019 0%,#ff8914 21%,#ff921e 44%,#ff8d14 62%,#ff8b0f 79%,#ff8d14 92%,#ff911c 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ff9c23 0%,#ff9019 0%,#ff8914 21%,#ff921e 44%,#ff8d14 62%,#ff8b0f 79%,#ff8d14 92%,#ff911c 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ff9c23 0%,#ff9019 0%,#ff8914 21%,#ff921e 44%,#ff8d14 62%,#ff8b0f 79%,#ff8d14 92%,#ff911c 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ff9c23 0%,#ff9019 0%,#ff8914 21%,#ff921e 44%,#ff8d14 62%,#ff8b0f 79%,#ff8d14 92%,#ff911c 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9c23', endColorstr='#ff911c',GradientType=0 ); /* IE6-9 */
transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;

}
.contact-check input[type="checkbox"] {
  display: none;
}
.contact-check.checkbox input {
	position: absolute;
	left: -9999px;
}
.contact-check.checkbox i {
	border-color: #fff;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;	
}
.contact-check.checkbox i:hover {
	border-color:red;
	
}
.contact-check  i:before {
	background-color: #2da5da;	
}
.contact-check  .rating label {
	color: #ccc;
	transition: color 0.3s;
	-o-transition: color 0.3s;
	-ms-transition: color 0.3s;
	-moz-transition: color 0.3s;
	-webkit-transition: color 0.3s;
}
.contact-check .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.contact-check .checkbox input + i:after {
	content: url(../images/tick.png) no-repeat 7px 1px;
	top: 3px;
	left: 2px;
	width: 15px;
	height: 15px;
}
.contact-check .checkbox {
	padding: 8px 0px 0px 25px;
  	font-size: 15px;
  	font-weight: 400;
  	line-height: 5px;
  	color: #A8A8A8;
	cursor: pointer;
	position: relative;
	display: block;
	float: left;
}
.contact-check.checkbox:hover {
	text-decoration: none;
}
.contact-check  .checkbox i {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  width: 18px;
  height: 18px;
  outline: none;
  border: 1px solid #D0CFCF;
  border-radius: 4px;
  background: #fff;
}
.contact-check  .checkbox input + i:after {
	position: absolute;
	opacity: 0;
	transition: opacity 0.1s;
	-o-transition: opacity 0.1s;
	-ms-transition: opacity 0.1s;
	-moz-transition: opacity 0.1s;
	-webkit-transition: opacity 0.1s;
}
.contact-check .checkbox input + i:after {
	color: #2da5da;
}
.contact-check.checkbox input:checked + i,
.contact-check . input:checked + i {
	border-color: #2da5da;	
}
.contact-check .rating input:checked ~ label {
	color: #2da5da;	
}

.contact-check .checkbox input:checked + i:after {
	opacity: 1;
}
.copyright {
  padding: 150px 0px 0px 0px;
  text-align: center;
}
.copyright p {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.copyright p a{
  font-size: 16px;
  font-weight: 400;
  color: #F87D41;
}
.copyright p a:hover{
	color: #fff;
	 transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
}
/*--contact end here--*/
/*--meadia quiries start here--*/
@media(max-width:1440px){
.contact {
  width: 28%;
}
.buttons input[type="text"] {
  width: 16%;
}
body {
   padding:50px 0px 50px 0px;
}
}
@media(max-width:1366px){
.contact {
  width: 30%;
}
}
@media(max-width:1280px){
.contact {
  width: 30%;
}
.green-button {
  margin: 0px 8px 0px 0px;
}
}
@media(max-width:1024px){
.contact {
  width: 38%;
}
.copyright {
  padding: 40px 0px 0px 0px;
}
h1 {
  margin: 0px 0px 20px 0px;
}
}
@media(max-width:768px){
.contact {
  width: 49%;
}
h1 {
  font-size: 30px;
  margin: 0px 0px 30px 0px;
}
.copyright {
  padding: 230px 0px 0px 0px;
}
body {
  padding: 131px 0px 33px 0px;
}
.orange-button {
  display: none;
}
.green-button {
  width: 95.5%;
}
}
@media(max-width:640px){
.contact {
  width: 56%;
}
.copyright {
  padding: 100px 0px 70px 0px;
}
.buttons input[type="text"] {
  width: 13%;
}
body {
  padding: 50px 0px 30px 0px;
}
}
@media(max-width:480px){
.contact {
  width: 76%;
}
.buttons input[type="text"] {
  width: 16%;
}
.contact-enviar input[type="submit"] {
  font-size: 14px;
  padding: 8px 30px;
}
.contact-check {
  margin: 5px 0px 0px 0px;
}
}
@media(max-width:320px){
.contact-check .checkbox {
  padding: 9px 0px 0px 27px;
  font-size: 12px;
} 
.contact-enviar input[type="submit"] {
  font-size: 14px;
  padding: 7px 23px;
}
body {
  padding: 35px 0px 25px 0px;
}
h1 {
  font-size: 21px;
  margin: 0px 0px 20px 0px;
}
.contact {
  width: 95%;
}
.contact h3 {
  font-size: 16px;
}
.contact-button a {
  margin: 0px 5px 0px 0px;
}
.green-button {
  padding: 6px 8px;
  margin: 0px 5px 0px 0px;
  width: 93%;
}
input.hola[type="text"] {
  font-size: 11px;
  padding: 15px 10px;
  margin: 0px 0px 10px 0px;
}
.contact textarea {
  font-size: 12px;
  height: 3em;
}
.contact-check {
  margin: 5px 0px 0px 0px;
}
.copyright {
  padding: 50px 0px 0px 0px;
}
.buttons {
  margin: 0px 0px 10px 0px;
   top: 13%;
  left: 9%;
}
.buttons input[type="text"] {
  width: 12%;
  padding: 10px 0px 10px 2px;
}
.clear{
	clear:both;
}
.orange-button {
  width: 43%;
  padding: 6px 7px;
  display:none;
}
.enviar {
  padding: 10px 25px 10px 25px;
}
.contact-main {
  padding: 20px 25px 10px 25px;
}
}
/*--meadia quiries end here--*/